* {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    scrollbar-width: medium;
    scrollbar-color: #D73947 #121B24;
}

body {
    background: linear-gradient(180deg, #074461 0%, #121B24 20%);
}

h2 {
    text-align: center;
    color: #ffff;
    font-family: 'Koulen', sans-serif;
    font-weight: 300;
   
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerHeader {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: row;

}

.trapeze, .invertedTrapeze, .reverseInvertedTrapeze {
    width: 250px;
    height: 40px;
    padding: 0;
    margin-bottom: 15%;
}

.trapeze {
    background-color: #D73947;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    margin: 0;
}
  
.invertedTrapeze {
    background-color: #072436;
    clip-path: polygon(10% 100%, 100% 100%, 90% 0, 0 0);
    margin-right: -25px;
}

.reverseInvertedTrapeze {
    background-color: #072436;
    clip-path: polygon(0 100%, 90% 100%, 100% 0, 10% 0);
    margin-left: -25px;

}

.bigImage {
    width: 100%;
}  